@charset "UTF-8";
/* ---------------------------------------------------
reset
---------------------------------------------------- */
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl, dt, dd {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

/* ---------------------------------------------------
commom
---------------------------------------------------- */
body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #555555;
  margin: 0;
  font-weight:bold; 
}
.wrap {
	overflow: hidden;
}
/* ---------------------------------------------------
heaeder
---------------------------------------------------- */
header {
  height: 70px;
  width: 100%;
}
.h_wrapper {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.header-right {
  margin-top: 10px;
}
.header-left {
  display: block;
  position: absolute;
  right: 0;
  line-height: 70px;
}
.header-left ul li  {
  display: inline;
}


/* ---------------------------------------------------
top-page
---------------------------------------------------- */
.top_image img {
  width: 100%;
}

/* ---------------------------------------------------
section共通
---------------------------------------------------- */

/* ---------------------------------------------------
our_ability
---------------------------------------------------- */
.our_ability h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 5px;
  
}
.under_line {
  display: block;
  border-bottom:5px solid #51A2BC;
  width: 185px;
  margin: 0 auto;
}
.ability_card {
  max-width: 260px;
  margin-left: 50px;
  text-align: center;
}
.ability_card h3 {
  font-size: 32px;
}
.ability_card p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}
.ability_cont {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 52px;
}

/* ---------------------------------------------------

---------------------------------------------------- */






/* ---------------------------------------------------
footer
---------------------------------------------------- */
footer {
  text-align: center;
  height: 105px;
}
.footer_text {
  padding: 60px 0 30px 0;
  font-size: 15px;
}
.contact_subtit {
  padding-top: 12px;
}
.contact_text {
  padding: 45px 0;
}